@import "src/index.scss";

.services-section {
    margin: 8rem 0rem 11rem 0rem;
    padding: 0px;

    .row {
        width: 100%;
        justify-content: center;
    }

    .top-row {
        align-items: center;
        padding: 0rem 4rem;
        text-align: center;
       
        .row {
            width: 53em;
            margin: 0.5em 0em 3em 0em
        } 

        h2 {
            margin: 0em;
            font-size: 2em;
        }

        hr {
           @include underline;
        } 

        p{
            font-size: 1rem;
        }
    }

    .services-div {    
        position: relative;
      
        .bg-blob-1 {
            position: absolute;
            z-index: -1;
            top: -17vw;
            left: 0vw;
            width: 55vw;  
        }
         
        .bg-dots-1 {
            position: absolute;
            z-index: -1;
            top: 18.5rem;
            right: 5rem; 
            height: 6.3rem;
        }  
         
        .col-lg-3{
            height: 19em;
            margin: 0.8em; 
            padding: 3em 2em 2.5em 3em;
            background: white;
            border-radius: 0.8em;
            box-shadow: 10px 15px 20px 5px  rgba(0,0,100,0.06); 
    
            img {
                height: 5rem;
                margin-bottom: 1.5em;
            }

            h5 {
                margin-bottom: 0.6em; 
                font-size: 1.3rem;
            }
    
            p {  
                text-align: left;
                font-size: 0.88rem;  
            }
        }
    }
    
    .ghost-button {
        margin-top: 3em;
    }
}