@import "src/index.scss";

.apps-section {
    margin: 10rem 0rem 14rem 0rem;
    
    @media screen and (max-width: 767px) {
        .row {
            padding: 0rem 5rem 0rem 4.7rem;
        }

        .text-col {
            padding: 0rem 0rem 3rem 0rem;
        }

        .img-col {
            margin-top: 1rem;
        }
    }  
    
    @media screen and (min-width: 768px) {
        .row {
            padding: 0rem 0rem 0rem 13rem;
        }

        .text-col {
            padding: 3rem 4rem 3rem 0rem;
        }
    } 
 
    .row {
        .text-col {
            h4 {
                margin-bottom: 0.5em;
                font-size: 2rem;
                text-align: start;
            }
    
            hr {
                @include underline;
            }
        
            p {
                font-size: 1rem;
            }
    
            .ghost-button {
                margin-top: 2em;
            }
        }

        .img-col {
            padding: 0px;
            @include flex-center;
    
            .illustration {
                width: 100%;
            }
        }
    }
}