@import "src/index.scss";

header {
    margin: 4rem 0rem 10rem 0rem;

    .container-fluid {
        position: relative;
        padding: 0px;
        
        .bg-dots-1 {
            position: absolute;
            z-index: -1;
            top: -2.5rem;
            left: -3rem;
            height: 6.3rem;
        }

        .row{
            justify-content: center;
            padding: 0rem 5rem 0rem 5rem;
        }
    
        .header-text-col {
            @media screen and (max-width: 991px){
                padding: 0em 0em 5em 0em;          
            } 

            @media screen and (min-width: 992px){ 
                padding: 5em 3em 5em 0em;
            }

            h2 {
                margin-bottom: 0.7em;
                font-size: 2.28em;
                text-align: start;
                font-weight: 600;             
            }
            
            p {  
                margin-bottom: 2em;
                font-size: 1.16rem;
                font-weight: 300;    
            }
    
            button {
                width: 11em;
                height: 3em;
                border-radius: 50vw;
                border: none;
                outline: none;
                background: $color-primary-3;
                font-size: 1rem;
                font-weight: 500;
            }

            button:hover {
                outline: solid rgb(79, 132, 218) 2px;
            }
        }
    
        .header-img-col {
           .illustration {
                width: 100%;    
            } 
        }
    }
}